body {
  font-family: Arial, sans-serif;
  color: #f3d7eb;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 900px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.section-1 h2,
.section-1 p {
  text-align: center;
}

.section-1 img {
  border-radius: 25%;
  margin-bottom: 20px;
  display: block; /* Ensures the image is treated as a block-level element */
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center; /* Centers icons horizontally */
  margin-top: 10px;
}

.social-icons a {
  color: #f3d7eb;
  font-size: 20px;
  margin: 0 10px;
  text-align: center;
}

.section-2 h2 {
  color: #f3d7eb;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-2 p {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
}

ul.book {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul.book li {
  margin-bottom: 10px;
  color: rgb(253, 253, 253);
}

.paper a {
  color: #e300a6;
  text-decoration: underline;
}

.paper{
  text-align: center;
}

